# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Backend
/server/bin/
/server/cmd/upload/    # Игнорируем ту самую папку с загрузками
/server/cmd/server.exe # Если скомпилил бинарник в cmd
vendor/
server/.env


#DB
/pgdata/


#env
server/ .env